
.bg-light{
    border-radius: 10px;
}
.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar form input, .btn{
    font-size: 12px;
}
.btn{
    font-weight: 700;
}
.nav-item{
    font-size: 14px;
}